.Navibox {
  height: 100px;
  width: 100vw;
  position: fixed;
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  background-color: black;
  color: #fff;
  transition: all 0.5s;
}

.Title {
  padding-left: 5%;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "manrope ExtraBold";
  transition: all 1s;
}

.Menu {
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: auto;
}

.Link {
  padding: 0 15px 0 15px;
  color: white;
  text-decoration: none;
}

.Link:hover {
  color: gray;
}

@media screen and (max-width: 900px) {
  .Title {
    font-size: 0.9rem;
  }
  .Menu {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 600px) {
  .Title {
    font-size: 0.8rem;
  }
  .Menu {
    font-size: 0.6rem;
  }
  .Link {
    padding: 0 5px 0 5px;
  }
  .Navibox {
    height: 64px;
  }
}
.firstpage {
  position: relative;
  padding-top: 100px;
  height: calc(100vh - 100px);
  width: 100vw;
}

.CopyTextSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  bottom: 5%;
  color: white;
}

.CopyTextBox {
  width: 100%;
  position: relative;
  display: flex;
  padding: 3vh 0;
  font-size: 4rem;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  font-family: "manrope ExtraBold";
}

.CopyText1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #000;
  -webkit-text-stroke: 1px #D0E957;
  text-shadow: 2px 2px 4px #D0E957;
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.CopyText1:hover {
  color: #D0E957;
}

.CopyText2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000000;
  -webkit-text-stroke: 1px #FFBC02;
  text-shadow: 2px 2px 4px #FFBC02;
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.CopyText2:hover {
  color: #FFBC02;
}

.CopyText3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
  -webkit-text-stroke: 1px #F1B2D7;
  text-shadow: 4px 4px 4px #F1B2D7;
  color: #000000;
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.CopyText3:hover {
  color: #F1B2D7;
}

@media screen and (max-width: 1200px) {
  .CopyTextBox {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 900px) {
  .CopyTextBox {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .CopyTextBox {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .CopyTextBox {
    font-size: 2rem;
  }
}
.IntroTextSection {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  color: white;
}

.IntroTextBox {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}

.DeBulter {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.Qustion {
  min-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-family: "manrope ExtraBold";
  transition: all 1s;
}

.Qustion_description {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Qustion_description_text {
  padding: 2vh 0;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  transition: all 1s;
}

.OurMission {
  display: flex;
  flex-direction: row;
  padding: 50px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

@media screen and (max-width: 3000px) {
  .Qustion {
    min-width: 400px;
  }
}
@media screen and (max-width: 2000px) {
  .Qustion {
    min-width: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .Qustion {
    min-width: 250px;
  }
}
@media screen and (max-width: 1200px) {
  .DeBulter {
    padding: 30px;
  }
  .OurMission {
    padding: 30px;
  }
  .Qustion {
    min-width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .DeBulter {
    padding: 10px;
    flex-direction: column;
  }
  .OurMission {
    padding: 10px;
    flex-direction: column;
  }
  .Qustion {
    min-width: 120px;
    font-size: 1rem;
    padding: 5vh 0;
  }
  .Qustion_description_text {
    padding: 2vh 0;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .Qustion {
    font-size: 0.9rem;
  }
  .Qustion_description_text {
    font-size: 0.8rem;
  }
}
.ActivitySection {
  position: relative;
  display: flex;
  height: auto;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Web3Text {
  display: flex;
  color: white;
  height: 100px;
  width: 100%;
  padding-top: 10%;
  align-items: center;
  justify-content: center;
  font-family: "manrope Light";
  font-size: 2.5rem;
  transition: all 1s;
}

.ActivityBoxSection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
  width: 90%;
}

.ActivityBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  margin-bottom: 50px;
  width: 250px;
  height: 400px;
  border-radius: 30px;
  font-family: "manrope SemiBold";
  transition: all 1s;
}

.ActivityBox:hover .activedescriptionbox {
  display: flex;
  visibility: visible;
  flex-direction: column;
  height: 75%;
  font-size: 0.8rem;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.order {
  display: flex;
  width: 80%;
  padding: 0 10%;
  padding-top: 10%;
  font-size: 0.8rem;
  height: 5%;
}

.smallTitle {
  display: flex;
  width: 80%;
  height: 10%;
  padding: 0 10%;
  font-size: 1rem;
  font-family: "manrope SemiBold";
  padding-bottom: 30px;
}

.activedescriptionbox {
  visibility: hidden;
  height: 0px;
  padding-top: 10%;
  transition: all 0.5s;
  overflow: hidden;
  list-style-position: outside;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #000000;
}

.description {
  padding-top: 20px;
  text-align: left;
  width: 86%;
  padding: 0 7%;
  font-size: 0.8rem;
  list-style-position: outside;
  margin-top: 10px;
}

ul {
  padding: 0 0 0 40px;
  margin: 0;
}

li.description {
  padding: 0;
  margin-right: 0;
}

.applybox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  color: white;
  margin-bottom: 10vh;
  border-radius: 10px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid;
}

@media screen and (max-width: 4100px) {
  .ActivityBox {
    width: 640px;
    height: 1200px;
  }
  .smallTitle {
    padding-bottom: 70px;
  }
  ul {
    padding: 0 0 0 70px;
    margin: 0;
  }
  .applybox {
    width: 12%;
    height: 120px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 3000px) {
  .ActivityBox {
    width: 500px;
    height: 800px;
  }
  ul {
    padding: 0 0 0 50px;
    margin: 0;
  }
  .applybox {
    width: 12%;
    height: 80px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 2000px) {
  .ActivityBox {
    width: 250px;
    height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .Web3Text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .Web3Text {
    font-size: 1.5rem;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .Web3Text {
    font-size: 1.3rem;
    padding-bottom: 50px;
  }
  .Web3Text .order {
    padding-top: 5%;
  }
  ul {
    padding: 0 0 0 30px;
    margin: 0;
  }
}
@media screen and (max-width: 400px) {
  .Web3Text {
    font-size: 1.1rem;
    padding-bottom: 50px;
  }
  .ActivityBox {
    width: 200px;
    height: 320px;
  }
  .activedescriptionbox {
    padding-top: 10px;
  }
  .order {
    padding-top: 5%;
  }
}
@media (hover: hover) {
  .ActivityBox:hover .activedescriptionbox {
    display: flex;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    height: 75%;
    font-size: 0.8rem;
  }
}
html {
  font-size: 20px;
}

body {
  margin: 0;
  background-color: #000;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 4100px) {
  html {
    font-size: 60px;
  }
}
@media screen and (max-width: 3000px) {
  html {
    font-size: 40px;
  }
}
@media screen and (max-width: 1980px) {
  html {
    font-size: 20px;
  }
}
@font-face {
  font-family: "raleway";
  src: url("./assets/font/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "manrope Light";
  src: url("./assets/font/Manrope-Light.ttf");
}
@font-face {
  font-family: "manrope medium";
  src: url("./assets/font/Manrope-Medium.ttf");
}
@font-face {
  font-family: "manrope Regular";
  src: url("./assets/font/Manrope-Regular.ttf");
}
@font-face {
  font-family: "manrope SemiBold";
  src: url("./assets/font/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "manrope Bold";
  src: url("./assets/font/Manrope-Bold.ttf");
}
@font-face {
  font-family: "manrope ExtraBold";
  src: url("./assets/font/Manrope-ExtraBold.ttf");
}/*# sourceMappingURL=index.css.map */