.PartnerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    padding-bottom: 5vh;
    .Partner_h1 {
        display: flex;
        font-size: 2rem;
    }

    .Partners {
        display: flex;
        flex-direction: row;
        
        
    }
    .Partner {
        padding: 30px;
        width: 250px;
        margin-right: 20px;
    }

}

@media screen and (max-width: 500px) {
    .PartnerSection {
        .Partner_h1 {
            display: flex;
            font-size: 1.5rem;
        }
        .Partner {
            padding: 20px;
            width: 200px;
        }
    }
}